<div class="pusher">
  <div class="ui vertical masthead center aligned segment overlay">
    <div class="ui container">
      <div class="ui secondary menu">
        <a class="toc item">
          <i class="black sidebar icon"></i>
        </a>
        <a href="index.html" class="{{itemoptionhome}}">Home</a>
        <a href="properties.html" class="{{itemoptionproperties}}">Properties</a>
        <a href="about.html" class="{{itemoptionabout}}">About</a>
        <a href="contact.html" class="{{itemoptioncontact}} right aligned">Contact</a>
      </div>
    </div>
  </div>
</div>

<div class="ui left vertical sidebar labeled icon menu">
  <a href="index.html" class="{{itemoptionhome}}">
    <i class="{{colorhome}} home icon"></i>
    Home
  </a>
  <a href="properties.html" class="{{itemoptionproperties}}">
    <i class="{{colorproperties}} list icon"></i>
    Properties
  </a>
  <a href="about.html" class="{{itemoptionabout}}">
    <i class="{{colorabout}} info icon"></i>
    About
  </a>
<!--   <a href="contact.html" class="{{itemoptioncontact}}">
    <i class="{{colorcontact}} phone icon"></i>
    Contact
  </a> -->
</div>


<!--nav found at https://jsfiddle.net/f8pgk4n5/1/-->
