<div class="ui accordion">
  <div class="{{titlestateapartments}}">
    <i class="dropdown icon"></i>
    Apartments
  </div>
  <div class="{{contentstateapartments}}">

    <div class="ui list" >
      <a class="item {{styleeastwoodapts}}" href="eastwood.html">Eastwood Apts</a>
      <a class="item {{styleriverbluffapts}}" href="index.html">River Bluff Apts</a>
      <a class="item {{stylewalnutstapts}}" href="index.html">Walnut St. Apts</a>
      <a class="item {{styleautumnwoodsapts}}" href="index.html">Autumn Woods Apts</a>
      <a class="item {{stylecountryclubapts}}" href="index.html">Country Club Apts</a>
      <a class="item {{styletowneterraceapts}}" href="index.html">Towne Terrace Apts</a>
      <a class="item {{stylemulberryapts}}" href="index.html">Mulberry Apts</a>
    </div>
  </div>

  <div class="{{titlestatehotel}}">
    <i class="dropdown icon"></i>
    Hotel
  </div>
  <div class="{{contentstatehotel}}">
      <a class="item {{styleraintreeinn}}" href="index.html">Raintree Inn</a>
  </div>

  <div class="{{titlestaterestaurants}}">
    <i class="dropdown icon"></i>
    Restaurants
  </div>
  <div class="{{contentstaterestaurants}}">
      <a class="item {{stylewongsfamilyrestautant}}" href="index.html">Wong's Family Restaurant</a><br>
      <a class="item {{stylejohnnywongschinesebistro}}" href="index.html">Johnny Wong's Chinese Bistro</a>
  </div>

  <div class="{{titlestatesinglefamilyhomes}}">
    <i class="dropdown icon"></i>
    Single Family Homes
  </div>
  <div class="{{contentstatesinglefamilyhomes}}">
      <a class="item {{stylesinglefamilyhomes}}" href="index.html">Single Family Homes</a>
  </div>

  <div class="{{titlestateofficecomplexes}}">
    <i class="dropdown icon"></i>
    Office Complexes
  </div>
  <div class="{{contentstateofficecomplexes}}">
      <a class="item {{styleprofessionalvillageeastofficecomplex}}" href="index.html">Professional Village East Office Complex</a>
  </div>

  <div class="{{titlestatemobilehomeparks}}">
    <i class="dropdown icon"></i>
    Mobile Home Parks
  </div>
  <div class="{{contentstatemobilehomeparks}}">
      <a class="item {{stylesherwoodmobilehomepark}}" href="index.html">Sherwood Mobile Home Park</a><br>
      <a class="item {{stylebourneendmobilehomepark}}" href="index.html">Bourne End Mobile Home Park</a>
  </div>
</div>
